body {font-family: Arial;}
h1 {
    font-family: Verdana;
    font-size: 32pt;
    
}

/* селектор тэга p: размер шрифта (важный аттрибут) и выравнивание текста */
p {
font-size: 14pt !important;

}


p.greeting{
font-size: 24pt;
}
/* составной селекто, размер картинки 47 %*/
.picture img {width: 47%;}

em.namebar{font-weight: normal;}

.advertising {margin-left: 30pt;}
.advertising div {
    margin-top: 5pt;
    margin-bottom: 5pt;
} 

header {text-align: center;}
main {text-align: justify;}
footer {text-align: right;}
